name: Linux

on:
  pull_request:
  push:
    branches:
      - master
      - main
      - dev/*

jobs:
  linux-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup ccache
      uses: ./.github/actions/setup-ccache
    - name: Build Linux
      run: ./make.sh all -y
